@use 'utilities';

body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  a {
    margin-left: 1em;
    color: #333;
  }
}
